body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #143524;
    color: white;
}

/* NAV */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 80px;
}

nav h2 {
    font-size: 28px;
    margin: 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-size: 18px;
}

/* HERO */

.hero {
    padding: 40px;
}

.hero-contenido {
    background-color: #e8e5e0;
    color: #143524;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 70px;
    gap: 60px;
}

.hero-contenido img {
    width: 420px;
    height: 520px;
    object-fit: cover;
    border-radius: 25px;
}

.hero-contenido h1 {
    font-size: 70px;
    margin-bottom: 20px;
    line-height: 1;
}

.hero-contenido p {
    font-size: 22px;
    line-height: 1.7;
}

.etiqueta {
    color: #ff6f2f;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.boton {
    display: inline-block;
    margin-top: 30px;
    background-color: #df88ff;
    color: #143524;
    padding: 15px 35px;
    border-radius: 40px;
    text-decoration: none;
    font-weight: bold;
}

/* SECCIONES */

.seccion {
    padding: 100px 90px;
}

.verde {
    background-color: #143524;
    color: white;
}

.clara {
    background-color: #f3efe9;
    color: #143524;
}

.seccion h2 {
    font-size: 55px;
    margin-bottom: 30px;
}

.seccion p {
    font-size: 22px;
    line-height: 1.9;
}

/* TARJETAS */

.tarjetas {
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

.tarjetas article {
    background-color: #1d4b34;
    padding: 35px;
    border-radius: 25px;
    flex: 1;
}

.tarjetas h3 {
    font-size: 30px;
    color: #daf900;
}

/* DOS COLUMNAS */

.dos-columnas {
    display: flex;
    align-items: center;
    gap: 70px;
}

.dos-columnas img {
    width: 420px;
    border-radius: 30px;
}

/* GALERIA */

.galeria {
    background-color: #143524;
    padding: 80px;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.galeria img {
    width: 30%;
    height: 450px;
    object-fit: cover;
    border-radius: 25px;
}

/* FOOTER */

footer {
    background-color: #0b2418;
    text-align: center;
    padding: 40px;
    font-size: 18px;
}

/* RESPONSIVE */

@media (max-width: 900px) {

    .hero-contenido,
    .dos-columnas,
    .tarjetas,
    .galeria {
        flex-direction: column;
    }

    .hero-contenido img,
    .dos-columnas img,
    .galeria img {
        width: 100%;
    }

    .hero-contenido h1 {
        font-size: 45px;
    }

    nav {
        padding: 20px;
    }

    .seccion {
        padding: 50px 30px;
    }
}
